@model List<OurTracker.Models.Entry>

<h2>OurTracker<h2>
<a href="/Tracker/Add">+ Add New</a>

<ul>
@foreach(var entry in Model)
{
    <li>
        <strong>@entry.Category:</strong> @entry.Title <br/>
        @entry.Description <em>(@entry.CreatedAt)</em>
    </li>
}
</ul>